.login__stepApplogo {
  margin-top: 150px;
  margin-left: 150px;
  width: 250px;
  height: 100px;
}
/* form container */
.login__con {
  margin-top: 20px;
  margin-left: 150px;
}
.login__text {
  margin-top: 100px;
  margin-left: 110px;
  width: 354px;
  height: 28px;

  font-family: Proxima Nova;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #d8d8d8;
}
.login__input {
  position: relative;
  margin: 10px;
  right: 55%;
  bottom: 74.03%;
  width: 550px;
  height: 75px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background: #ffffff;
  border-radius: 80px;
  color: black;
  padding: 25px;
}
.login__link {
  margin-top: 20px;
  margin-left: 100px;
  width: 354px;
  height: 28px;

  font-family: Proxima Nova;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #d8d8d8;
}
.login__innerLink {
  color: goldenrod;
  text-decoration: underline;
}
.login__outerLink {
  color: #d8d8d8;
}
.login__formbtn {
  position: relative;
  margin: 15px;
  right: 55%;
  margin-top: 50px;
  border-radius: 80px;
  padding: 5px;
  color: black;
  width: 550px;
  height: 70px;
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  /* 3 */

  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  font-size: 25px;
}
