.gradee__group {
  position: absolute;
  width: 750.4px;
  height: 530px;
  left: 310px;
  top: 29px;
}
.gradee__bigCircle {
  position: relative;
  width: 561.78px;
  height: 461.78px;
  left: 419.31px;
  top: 175.35px;
}

.gradee__select {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 150px;
  top: 160.65px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 117.3%;
  /* or 59px */

  text-align: center;
  color: #1b1f5f;
}
.gradee__smallCircleSelected {
  cursor: pointer;
  background: linear-gradient(
    253.58deg,
    #ffc000 1.55%,
    #ff8a00 95.8%
  ) !important;
  width: 110px !important;
  height: 110px !important;
  border: 4px solid #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.gradee__smallCircle5 {
  position: absolute;
  width: 98.83px;
  height: 98.83px;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  left: 602.97px;
  border-radius: 50%;
  top: 129px;
}
.gradee__smallCircle6 {
  position: absolute;
  width: 98.83px;
  height: 98.83px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  left: 775.9px;
  top: 215.35px;
  /* background-color: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%); */
}

.gradee__smallCircle7 {
  position: absolute;
  width: 98.83px;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  height: 98.83px;
  border-radius: 50%;
  left: 828.61px;
  top: 382.63px;
}

.gradee__smallCircle8 {
  position: absolute;
  width: 98.83px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  height: 98.83px;
  left: 733.28px;
  top: 546.18px;
}

.gradee__smallCircle9 {
  position: absolute;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  width: 98.83px;
  border-radius: 50%;
  height: 98.83px;
  left: 511.14px;
  top: 560.17px;
}

.gradee__smallCircle10 {
  position: absolute;
  width: 98.83px;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  border-radius: 50%;
  height: 98.83px;
  left: 381.7px;
  top: 410.62px;
}

.gradee__smallCircle11 {
  position: absolute;
  background: #ffffff;
  border: 2px solid #979797;
  cursor: pointer;
  width: 98.83px;
  border-radius: 50%;
  height: 98.83px;
  left: 412.31px;
  top: 226.08px;
}
.gradee_five {
  position: absolute;
  width: 41px;
  height: 23px;
  left: 28px;
  top: 34px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 115.3%;
  text-align: center;
  color: #5c5c5c;
}
.gradee_six {
  position: absolute;
  width: 41px;
  height: 23px;
  left: 29px;
  top: 34px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 115.3%;
  text-align: center;
  color: #5c5c5c;
  align-items: center;
}
.gradee_seven {
  position: absolute;
  width: 41px;
  height: 23px;
  left: 28px;
  top: 39px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 117.3%;
  text-align: center;
  color: #5c5c5c;
}
.gradee_eight {
  position: absolute;
  width: 41px;
  height: 23px;
  left: 28px;
  top: 39px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 117.3%;
  text-align: center;
  color: #5c5c5c;
}

.gradee_nine {
  position: absolute;
  width: 41px;
  height: 23px;
  left: 28px;
  top: 39px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 117.3%;
  text-align: center;
  color: #5c5c5c;
}
.gradee_ten {
  position: absolute;
  width: 61px;
  height: 13px;
  left: 17px;
  top: 35px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 117.3%;
  text-align: center;
  color: #5c5c5c;
}

.gradee_eleven {
  position: absolute;
  width: 61px;
  height: 20px;
  left: 17px;
  top: 35px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 110.3%;
  text-align: center;
  color: #5c5c5c;
  position: absolute;
}

.gradee__formbtn {
  position: absolute;
  width: 210.86px;
  height: 64px;
  left: 560px;
  top: 765px;
  /* linear */
  background: linear-gradient(253.58deg, #ffc000 1.55%, #ff8a00 95.8%);
  border-radius: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
}

.gradee__container2 {
  background-color: #0d2249;
  color: white;
  height: 39px;
}
