.subject {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-height: 1500px;
  z-index: -1;
}
.subject__container {
  height: 100%px;
  width: 100%;
  left: 20px;
  right: 20px;
}

.subject__container1 {
  height: 1050px;
  display: flex;
  align-items: center;
  background-color: #0c2657;
  top: 310px;
  left: 20px;
}
.subject__group1 {
  position: relative;
  width: 734px;
  height: 414.74px;
  left: 500px;
  top: 10px;
  /* background-color: rgb(192, 182, 182); */
}

.subject_modelone {
  position: relative;
  width: 500px;
  height: 300px;
  left: 365px;
  top: -160px;

  background-color: #ffffff;
  opacity: 0.95;
  /* 3 */
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.subject__modeltwo {
  position: relative;
  width: 500px;
  height: 300px;
  left: 30px;
  top: -460px;

  background-color: #ffffff;
  opacity: 0.95;
  /* 3 */

  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.subject__modelthree {
  position: relative;
  width: 700px;
  height: 350px;
  left: 100px;
  top: -790px;
  color: white;

  background-color: white;
  /* 3 */

  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.subject__ecllipse {
  position: absolute;
  width: 149px;
  height: 149px;
  left: 260px;
  top: 33px;
  background: linear-gradient(180deg, #ff8a00 13.64%, #ffc000 100%);
  border-radius: 100%;
}
.subject__image {
  position: absolute;
  left: 42.67%;
  top: 15.68%;
}
.subject__freeDemo {
  position: absolute;
  width: 291.65px;
  height: 33px;
  left: 200px;
  top: 200.1px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-align: center;

  color: #5c5c5c;
}
.subject__freeDemotext {
  position: absolute;
  width: 380px;
  height: 48px;
  left: 140px;
  top: 253.56px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #5c5c5c;
}

.grade__group2 {
  position: absolute;
  width: 905px;
  height: 270px;
  left: 420px;
  top: 150px;
}
.grade__box1 {
  position: absolute;
  width: 450px;
  height: 330px;
  left: 30px;
  top: 500px;

  background: #ff8a48;
  opacity: 0.95;
  /* 3 */
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}
.grade__box2 {
  position: absolute;
  width: 450px;
  height: 330px;
  left: 600px;
  top: 500px;

  background: #1bb8ae;
  opacity: 0.95;
  /* 3 */

  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 10px;
}

.learn__science {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 30px;
  top: 40px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.inner__text {
  position: absolute;
  width: 122px;
  height: 72px;
  left: 36px;
  top: 130px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 159.7%;
  text-align: justify;
  /* or 24px */
  color: #ffffff;
}
.__chapters {
  position: absolute;
  width: 155px;
  height: 28px;
  left: 36px;
  top: 260px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */
  color: #ffffff;
}
.free__demo {
  position: absolute;
  width: 125px;
  height: 40px;
  left: 300px;
  top: 276px;
  background: #fff1c7;
  mix-blend-mode: lighten;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  color: #111;
}

.star {
  position: absolute;
  left: 71%;
  top: 87.25%;
}

.free_demotext {
  margin-left: 16px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: black;
}

.learn__math {
  position: absolute;
  width: 200px;
  height: 28px;
  left: 30px;
  top: 40px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.info__text1 {
  position: absolute;
  width: 190px;
  height: 72px;
  left: 50px;
  top: 130px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: justify;
  color: #ffffff;
}

.__chapters1 {
  position: absolute;
  width: 155px;
  height: 28px;
  left: 36px;
  top: 260px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */
  color: #ffffff;
}

.free__demo1 {
  position: absolute;
  width: 125px;
  height: 40px;
  left: 300px;
  top: 276px;

  background: #fff1c7;
  mix-blend-mode: lighten;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  color: #111;
}

.star1 {
  position: absolute;
  left: 71%;
  top: 87.45%;
}
.subject__container2 {
  background-color: #0d2249;
  color: white;
  height: 39px;
}
