.chapt__play {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 20px;
  top: 15px;
}
.chapt__unblock {
  position: absolute;
  width: 16px;
  height: 18px;
  left: 10px;
  top: 15px;
}
.play__unBlock {
  left: -550px;
  top: 275px;
  margin-left: 20px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19px;
  /* identical to box height */

  color: #140e0e;
}
.starr {
  position: absolute;
  left: 270px;
  top: -355px;
}
.freeDemoo__btn {
  position: absolute;
  width: 137px;
  height: 46px;
  left: 260px;
  top: -370px;

  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 31px;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 159.7%;
  color: #000000;
}

.chapt__container2 {
  background-color: #0d2249;
  color: white;
  height: 39px;
}
